.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

.link {
    text-decoration: none;
    color: inherit;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

body {
    font-family: 'Roboto';
    color: var(--primary-text-color);
    background-color: var(--white-color);
    font-size: 14px;
    letter-spacing: 0.03em;
}

