:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --background-our-team: #F5F4FA;
    --background-hero-footer: #2F303A;
    --accent-color: #2196F3;
    --hero-button-hover: #188CE8;
    --icon-fill: #212121;
    --icon-social-light: #AFB1B8;
    --icon-social-hover: #2196F3;
    --icon-social-hover-bg: #ffffff;
    --grey-transparent-background-all: rgba(0, 0, 0, 0.2);
}