.logo-web {
    font-family: 'Raleway', 'sans-serif';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    color: var(--hero-button-hover);
    display: inline-block;
    text-decoration: none;
    margin-right: 93px;
}

header {
    border-bottom: solid 1px #ececec;
}

.icon-contact {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    vertical-align: middle;
    fill: currentColor;
}

.icon-smartphone {
    width: 10px;
    height: 16px;
}

.header-list {
        @media (min-width: 768px) {
            display: flex;
        }

        &__item:not(:last-child) {
            margin-bottom: 32px;

            @media (min-width: 768px) {
                margin-right: 50px;
                margin-bottom: 0;
            }
        }
    }

.header-contacts-list {
    display: flex;
    margin-left: auto;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: none;
    align-items: center;
    justify-content: space-between;
}
.logo-studio {
    color: #000000;
}

.header-link {
    display: block;
    position: relative;
    font-weight: 500;
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: inherit;
    -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media (min-width: 768px) {
            position: relative;
            display: block;
            padding-top: 32px;
            padding-bottom: 32px;
        }
    &:hover,
        &:focus {
            color: #2196F3;
        }

}

.header-link.nav--current::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: #2196f3;

}

.nav--current {
        @media (max-width: 768px) {
            color: #2196f3;

            &:hover,
            &:focus {
                color: #2196f3;
            }
}}

.header-list-item {
    padding-top: 32px;
}

.contacts-list-item:not(:last-child) {
    margin-right: 50px;
}


.hero {
    background-color: #2f303a;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title {
    margin-bottom: 30px;
}

.hero-sec {
    display: flex;
    gap: 30px;
}

.nav-active {
    color: #2196F3;
}

.header-link:hover,
.header-link:focus {
    color: #2196F3;
}

.contacts-link {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
        &:focus {
            color: #2196F3;
        }
}


.menu-social {
    display: none;
}

&.is-open .menu-social {
    display: flex;
}

&.is-open .menu-social__item:not(:last-child) {
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu-social__link {
    font-size: $fs-18;
    line-height: 1.22;
    text-decoration: none;
    color: #2196F3;
}


.menu__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin: 0;

    border: none;
    background-color: transparent;

    @media (min-width: 768px) {
        display: none;
    }

    &__link--current,
    &:hover,
    &:focus {
        fill: #2196F3;
    }
}

.menu__icon {
    width: 24px;
    height: 16px;
    cursor: pointer;
}

.menu__button.is-open {
    position: absolute;
    top: 10px;
    right: 15px;
    z-index: 1;
}

.menu__button .icon-cross {
    display: none;
}

.menu__button.is-open .icon-cross {
    display: block;
    width: 11px;
    height: 11px;

    fill: currentColor;
}

.menu__button .icon-cross {
    display: none;
}

.menu__button .is-open .icon-burger {
    display: none;
}

.icon-cross {

    &:hover,
    &:focus {
        color: #2196F3;
    }
}