.hero {
    max-width: 1600px;
    margin: 0 auto;
    background-color:#2f303a;
    background-image: var(--gradient), url(../image/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @include retina {
        background-image: var(--gradient), url(../image/hero-mob-2x.jpg);
    }

    @include tablet {
        background-image: var(--gradient), url(../image/hero-tab-1x.jpg);

        @include retina {
            background-image: var(--gradient), url(../image/hero-tab-2x.jpg);
        }
    }

    @include desktop {
        background-image: var(--gradient), url(../image/background.jpg);

        @include retina {
            background-image: var(--gradient), url(../image/hero-web-2x.jpg);
        }

        padding-top: 200px;
        padding-bottom: 200px;
    }
}
.hero__title {
max-width: 360px;
    height: 84px;
    margin: 0 auto;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #ffffff;

    @include mobile {
        font-size: 26px;
    }

    @include desktop {
        max-width: 696px;
        height: 120px;
        font-size: 44px;
        line-height: 1.36;
    }
}

.hero__section {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.hero__list {
    @media (min-width: 768px) {
        width: calc((100% - 30px) / 2);
    }

    @media (max-width: 767px) {
        &:last-child {
            margin-right: 0px;
        }
    }

    @media (min-width: 1200px) {
        width: calc((100% - 90px) / 4);

        &:last-child {
            margin-right: 0px;
        }
    }
}

.hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    max-width: 696px;
    margin-left: auto;
    margin-right: auto;
}

// .hero__btn {
//     font-family: 'Roboto';
//     font-style: normal;
//     font-weight: 700;
//     font-size: 16px;
//     line-height: 1.88;
//     display: flex;
//     align-items: center;
//     text-align: center;
//     letter-spacing: 0.06em;
//     color: #FFFFFF;
//     background: #2196F3;
//     border: none;
//     cursor: pointer;
//     border-radius: 6px;
//     display: block;
//     text-align: center;
//     padding: 10px 32px;
//     margin-left: auto;
//     margin-right: auto;
// }
.hero__button {
 display: inline-block;
 padding: 10px 24px;
 margin-top: 30px;

 &:hover,
 &:focus {
     background-color: #188ce8;
 }

 @include desktop {
     padding: 10px 32px;
 }
 }

.hero__item {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    margin-bottom: 10px;
}

.hero__page {
    font-size: 14px;
    line-height: 1.71;
    color: #757575;
}


.hero__box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: calc((100% - 90px) / 4);
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: #f5f4fa;
}

.nero__icon{
    fill: #212121;
    width: 70px;
    height: 70px;
}