.backdrop {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    opacity: 1;
    visibility: visible;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 528px;
    min-height: 581px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    background-color: #ffffff;
    /* padding: 40px; */
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop .is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}

.modal-close {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: #ffffff;
    fill: #000000;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: filter 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
        &:hover {
                fill: #2196f3;
                filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
            }
}



.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.form {
    width: 100%;
    padding: 40px;
}

.form-title {
    margin-bottom: 12px;
    margin-top: 0;

    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.form-send {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
    display: block;
    margin-bottom: 20px;
}

.form-field {
    position: relative;
    margin-top: 4px;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 11px 12px 11px 42px;

    font-size: 16px;
    color: #000000;
    background-color: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
            &:focus {
                border-color: #2196F3;
                outline: none;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
                        &::placeholder {
                            font-size: 16px;
                            line-height: 1.25;
                            align-items: center;
                            letter-spacing: 0.03em;
                            color: rgba(117, 117, 117, 0.5);
                        }
}



.comment-field {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-top: 4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #000000;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &::placeholder {
                font-size: 12px;
                line-height: 1.17;
                align-items: center;
                letter-spacing: 0.01em;
                color: rgba(117, 117, 117, 0.5);
            }
                        &:hover,
                        &:focus {
                            border-color: #2196F3;
                            outline: none;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                        }
}




.form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: #212121;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    .form-input:hover~&,
        .form-input:focus~& {
            fill: #2196F3;
        }
}



.form-field-terms {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
    margin-bottom: 30px;

    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    color: #757575;
    fill: #ffffff;
   &>a {
            color: #2196F3;
        }
}

.icon-checkbox {
    border: 1px solid #000000;
    border-radius: 2px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        .form-field-checkbox:checked~& {
                border: none;
                background-color: #2196F3;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            }
}

.form-button {
    width: 200px;
    height: 50px;
    padding: 10px 52px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2196F3;
    border: transparent;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
           &:focus {
                background-color: #188ce8;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            }
}
