.project {
    padding-top: 0;
display: none;

    @include desktop {
        display: block;
    }
}
.project__section {
    display: flex;
    gap: 30px;
}

.projects {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;

}

.project__item {
    position: relative;
    height: 294px;
}

.label {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
}
.section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;
    color: #212121;

    @include desktop {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.17;
    }
}