.people {
    background: #F5F4FA
}

.people__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}

.people__section {
    display: flex;
    gap: 30px;
}

.people__list {
    background: #FFFFFF;
}

.people__item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 10px;
}

.people__box {
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.people__page {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
    margin-bottom: 16px;
}


.social__list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social__item {
    width: 44px;
    height: 44px;
}

.social__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
     &:focus {
            background-color: #2196F3;
            color: var(--icon-social-hover-bg);
        }
}
.social__icon {
    fill: currentColor;
    width: 20px;
    height: 20px;
    .social__link:focus>&{
            fill: #ffffff;
        }
}